<div
  class=`
    fixed
    left-1/2
    md:left-0
    top-0
    md:top-[40%]
    transform -translate-x-1/2
    ring-4
    mt-4
    sm:ml-8
    rounded
  `
>

  <ul
    class=`
      bg-gray-800/40
      flex
      md:flex-col
      md:items-center
    `
  >
    <li>
      <a target="_blank" href="mailto:ernesto@negozi.lat">
        <i class="fas fa-envelope"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/ernxyz">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/ernesto-colmenares-524954258">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://discord.com/users/666757033575448621">
        <i class="fa-brands fa-discord"></i>
      </a>
    </li>
  </ul>
</div>

<style>
  li {
    padding: 1vh;
  }
</style>