---
import Melayout from "../layouts/Melayout.astro";

const { idToGo } = Astro.props

let idToGoBack

if(idToGo >= 2) idToGoBack = idToGo - 2
else idToGoBack = idToGo + 1
---

<Melayout
  idToGo={idToGo}
>
  <div
    class=`
      lg:flex-row
      flex
      flex-col
      items-center
      justify-center
    `
  >
  <div
    class="w-full"
  >

    
    <div
      class=`
        text-center
      `
    >
      <h1 class="text-3xl lg:text-5xl text-acid-orange font-bold pb-2">
        Ernesto Colmenares
      </h1>
      <h2 class=`text-xl lg:text-3xl text-acid-green`>
        Full-Stack Javascript Developer
      </h2>
    </div>

    <div
      class=`
        size-full
        my-8
        text-justify
      `
    >
      <p class="text-xl lg:text-3xl">
        I'm a Full-Stack JavaScript Developer with an associate’s degree in software development. I enjoy building high-performance web and mobile applications that are efficient, scalable, and user-friendly.
      </p>
      <br />
      <p class="text-xl lg:text-3xl">
        My focus is on creating seamless user experiences and solving real-world problems through technology. Currently, I'm developing some projects aimed at improving workflows and user engagement.
      </p>
    </div>
  </div>


  <div
    class=`
      w-full
      lg:my-20
      lg:mx-10
      flex
      items-center
      justify-center
    `
    >
    <img src="/me.jpg" class=`w-3/4 lg:w-3/4 rounded-[2vw] filter sepia-[60%] saturate-[300%] hue-rotate-[-15deg]` />
  </div>
</div>

</Melayout>